---
BasedOnStyle: LLVM
# BasedOnStyle: Mozilla
IndentAccessModifiers: true
# BreakBeforeBraces: Allman
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterControlStatement: MultiLine
  
  BeforeElse: true # wow! but this is what i want.
  # AfterClass: true
  SplitEmptyFunction: false
AllowShortFunctionsOnASingleLine: true
SpaceBeforeCtorInitializerColon: false

# BreakConstructorInitializers: BeforeComma
BreakConstructorInitializers: AfterColon

SpaceBeforeInheritanceColon: false
BreakInheritanceList: AfterColon
ReferenceAlignment: Left
IncludeBlocks: Regroup

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

## maybe one day i want this:
# Cpp11BracedListStyle: true

UseTab: Always
## align the function args to the opening bracket only using a
## ContinuationIndentWidth from beginning of statement. dont align to the exact
## position of the opening bracket.
AlignAfterOpenBracket: DontAlign
## this helps enforcing the above rule in certain situations.
AlignOperands: DontAlign

# FIXME: why is this behaving the way it does? 
TabWidth: 2
## nice idea: continuation indent different from normal indent ;)
IndentWidth: 2
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 2

ColumnLimit: 80
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
BinPackArguments: false
BinPackParameters: false
# Ensure comments don't exceed limit
ReflowComments: true
PenaltyExcessCharacter: 1000000

AllowShortIfStatementsOnASingleLine: Never
