core
compile_commands.json
**/*.o
obj/
webserv
.cache/
tests/run_tests
tests/Makefile
tests/tests.hpp
tests/test-main.cpp

# fine-grained control over everything in _play.
# first ignore everything..
_play/*
# ..then unignore what we want in the repo
!_play/*.cpp
!_play/nginx/
_play/nginx/*.log
!_play/nginx/conf/*.conf

_play/nginx/nginx.pid
tests/req_tests/testfiles/hugefile
_res/*

tests/cpp_tests/tests.hpp
tests/cpp_tests/test_main.cpp
tests/cpp_tests/test_hdr.hpp
tests/cpp_tests/run_tests
tests/cpp_tests/Makefile
tests/req_tests/testfiles/zero

*.dat
tester
cgi_tester
tests/memory_log.csv
